@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container-fluid">
    <p>Esta aplicación web sirve para gestionar empresas de distintos campos, agrícultura, negocios online, facturación </p>
</div>

